@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
	--cor-primaria-0: #13837d;
	--cor-primaria: #20b2aa;
	--cor-primaria-2: #72eae4;
	--cor-primaria-3: #aafffa;
}
  
* {
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}

body,
main,
section,
footer {
	width: 100%;
	box-sizing: border-box;
	border: 0 !important;
}

@media only screen and (min-width: 320px) and (max-width: 430px) {
	header {
		padding: 0;
	}
	
	header nav,
	section>div {
		width: 90%;
	}

	#menu-desktop {
		display: none !important;
	}

	#menu-mobile {
		display: none !important;
	}

	#banner,
	#banner .slideshow {
		height: calc(430px * .8) !important;
	}
	
	#banner .slideshow .sld span {
		height: 100% !important;
		width: 100% !important;
	}

	section .sessao-conteudo {
		flex-wrap: wrap !important;
	}

	section .sessao-conteudo>div {
		width: 100% !important;
	}

	section .coluna-25_25_25_25>div {
		width: 49% !important;
	}

	section .coluna-16_16_16_16_16_16>div {
		width: 49% !important;
	}

	#planos .sessao-conteudo .tab-precos {
		overflow-x: scroll;
	}

	#planos .sessao-conteudo #calendario {
		padding-left: 0 !important;
	}
}

@media only screen and (min-width: 430px) {
	header {
		padding: 1rem 0;
		width: 100%;
	}

	section .coluna-60_40>div:first-of-type {
		width: 59% !important;
	}

	section .coluna-60_40>div:last-of-type {
		width: 39% !important;
	}

	section .coluna-50_50>div {
		width: 49% !important;
	}

	section .coluna-33_33_33>div {
		width: 32% !important;
	}

	section .coluna-25_25_25_25>div {
		width: 24% !important;
	}

	section .coluna-16_16_16_16_16_16>div {
		width: 15% !important;
	}
}

@media only screen and (min-width: 430px) and (max-width: 768px) {}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
	body {
		font-size: 10px !important;
	}
	
	header nav,
	section>div {
		width: 90%;
	}

	#banner,
	#banner .slideshow {
		height: calc(1024px * .65);
	}
}

@media only screen and (min-width: 1024px) and (max-width: 1280px) {}

@media only screen and (min-width: 1280px) {
	body {
		font-size: 14px;
	}
	
	header nav,
	section>div {
		width: 70%;
	}

	#banner,
	#banner .slideshow {
		height: calc(1280px * .65);
	}
	
	#depoimentos .sessao-conteudo div span {
		font-size: .6rem !important
	}
}
	
body {
    font-family: 'Poppins', sans-serif;
	color: #333 !important;
	border: solid green;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	line-height: 120%;
}

header {
	z-index: 900;
	position: fixed;
}

header nav,
section>div {
	margin: 0 auto;
}

main {
	z-index: 800;
	font-size: .8rem;
	border: solid red;
}

main, section {
	display: flex;
	flex-direction: column;
}

section {
	padding: 3rem 0;
	overflow: hidden;
	border: solid blue;
}

div {
	box-sizing: border-box !important;
}

section .sessao-titulo h2 {
	margin: 0;
	margin-bottom: 1rem !important;
	font-size: 2rem;
}

section .sessao-conteudo {
	display: flex;
	justify-content: space-between !important;
}

section .coluna-100>div {
	width: 100% !important;
}

footer {
	background-color: var(--cor-primaria);
}

footer {
	padding: 1.5rem 0;
}

footer:not(h3) {
	font-size: .8rem !important;
}

footer section div div h3 {
	margin-bottom: 1rem;
}

ul {
	padding: 0 !important;
	margin: 0 !important;
}

ul li {
	list-style-type: none;
}

.btn {
	background-color: var(--cor-primaria);
	border-radius: .25rem;
	padding: .75rem 2rem;
	border: none;
	color: white;
	cursor: pointer;
	transition: .2s;
}

.btn:hover {
	background-color: var(--cor-primaria-0);
}

#menu-desktop {
	display: flex;
	justify-content: flex-end;
}

#menu-desktop ul {
	padding: .5rem !important;
	background-color: white;
	border-radius: .5rem;
	-webkit-box-shadow: 3px 3px 20px 5px rgba(0,0,0,0.15);
	-moz-box-shadow: 3px 3px 20px 5px rgba(0,0,0,0.15);
	box-shadow: 3px 3px 20px 5px rgba(0,0,0,0.15);
}

#menu-desktop ul li {
	cursor: pointer;
	list-style-type: none;
	display: inline-flex;
	margin: 0 1rem;
    vertical-align: middle;
	font-size: .8rem;
}

#menu-desktop ul li a,
#menu-mobile ul li a {
	text-decoration: none;
	color: #333 !important;
}

#menu-desktop ul li:hover a,
#menu-mobile ul li:hover a {
	color: var(--cor-primaria) !important;
}

#menu-desktop ul li img,
#menu-mobile ul li img {
	height: 1.2rem;
	margin: .5rem 10rem .5rem 0;
}

#menu-mobile {
	background-color: red;
	padding: 1rem;
	height: 100% !important;
}

#banner {
	padding: 0;
}

#banner .slideshow {
	position: absolute;
	width: 100%;
	display: flex;
	align-items: center;
	box-sizing: border-box;
	/*overflow: hidden;*/
}

#banner .slideshow>span {
	z-index: 790;
	cursor: pointer;
	background-color: white;
	margin: auto 2rem;
	padding: .5rem;
	border-radius: 50%;
	display: flex;
	-webkit-box-shadow: 3px 3px 20px 5px rgba(0,0,0,0.15);
	-moz-box-shadow: 3px 3px 20px 5px rgba(0,0,0,0.15);
	box-shadow: 3px 3px 20px 5px rgba(0,0,0,0.15);
}

#banner .slideshow span ion-icon {
	font-size: 2rem;
	color: var(--cor-primaria);
}

#banner .slideshow .sld {
	background-position: center center;
    align-content: flex-start;
    justify-content: center;
    flex-direction: column;
	background-size: cover;
	position: absolute;
	padding: 8rem 15%;
	overflow: hidden;
	display: flex;
	margin: auto;
	height: 100%;
}

#banner .slideshow .slide-0 {
	background-image: url("../img/3d-rendering-business-meeting-working-room-office-building.jpg");
	z-index: 789;
}

#banner .slideshow .slide-1 {
	background-image: url("../img/modern-office-space-with-desktops-with-modern-computers-created-with-generative-ai-technology.jpg");
	z-index: 788;
}

#banner .slideshow .slide-2 {
	background-image: url("../img/empty-room-with-chairs-desks.jpg");
	z-index: 787;
}

#banner .slideshow .sld h1 {
	padding-right: 30%;
}

#banner .slideshow .sld h1 {
	font-size: 5rem;
	text-transform: uppercase;
	color: white !important;
	z-index: 792;
}

#banner .slideshow .sld h1 strong {
	font-size: 2rem;
	margin: 0 !important;
}

#banner .slideshow .sld span {
	left: 0;
	top: 0;
	height: 120%;
	width: 120%;
	background-color: #00000088;
	position: absolute;
	z-index: 791;
}

#servicos {
	z-index: 790;
	margin-top: -7rem;
}

#servicos .sessao-conteudo .servico-coworking {
	background-color: var(--cor-primaria);
	padding: 2rem 1rem;
	border-radius: .5rem;
	color: #333;
	display: flex;
	flex-direction: column;	
    justify-content: center;
    align-items: center;
	text-align: center;
	transition: .2s;
}

#servicos .sessao-conteudo .servico-coworking:hover {
	margin-top: -.5rem;
}

#servicos .sessao-conteudo .servico-coworking ion-icon {
	color: #333;
}

#servicos .sessao-conteudo .servico-coworking h4 {
	color: white;
}  

#galeria .sessao-conteudo {
	flex-wrap: wrap;
}

#galeria .sessao-conteudo div {
	margin-bottom: 1rem;
}

#galeria .sessao-conteudo #img-popup {
	background-color: #000000dd;
	width: 100% !important;
	position: fixed;
	display: none;
	z-index: 950;
	height: 100%;
	left: 0;
	top: 0;
}

#galeria .sessao-conteudo #img-popup img {
	width: 60%;
	margin: auto;
}

#galeria .sessao-conteudo #img-popup ion-icon {
	color: white;
	position: absolute;
	margin: 2rem;
	font-size: 2rem;
	right: 0;
	cursor: pointer;
}

#galeria .sessao-conteudo div picture img {
	cursor: pointer;
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: .5rem;
}

#depoimentos .sessao-conteudo div span {
	font-size: .5rem !important;
}

#depoimentos .sessao-conteudo .box-depoimentos {
	margin-bottom: 1rem;
	display: flex;
	flex-wrap: wrap;
}

#depoimentos .sessao-conteudo .box-depoimentos div {
	padding: 1rem;
}

#depoimentos .sessao-conteudo .box-depoimentos div:hover h3 {
	padding-left: .8rem;
}

#depoimentos .sessao-conteudo .box-depoimentos div h3 {
	color: var(--cor-primaria);
	border-left: .2rem solid var(--cor-primaria);
	padding-left: .5rem;
	transition: .2s;
}

#depoimentos .sessao-conteudo .box-depoimentos div span {
	color: var(--cor-primaria);
	margin-left: .7rem !important;
}

#depoimentos .sessao-conteudo .box-depoimentos div p {
	font-style: italic;
	font-size: .6rem !important;
	margin-top: .5rem !important;
}

#depoimentos .sessao-conteudo .box-depoimentos-img {
	text-align: center !important;
}

#depoimentos .sessao-conteudo .box-depoimentos-img img {
	width: 80%;
	aspect-ratio: 1 / 1;
	border-radius: 60% 80% 60% 80%;
	object-fit: cover;
}

#planos {
	margin-bottom: 5rem;
}

#planos .sessao-conteudo .tab-precos table {
	width: 100%;
	border-collapse: collapse;
	font-size: .8rem;
}

#planos .sessao-conteudo .tab-precos table thead tr {
	background-color: var(--cor-primaria);
}

#planos .sessao-conteudo .tab-precos table thead tr th {
	width: calc(100% / 6);
	color: white;
	padding: 1.5rem .5rem;
}

#planos .sessao-conteudo .tab-precos table tbody {
	border: .1rem solid #ddd;
}

#planos .sessao-conteudo .tab-precos table tbody tr:nth-child(even) {
	background-color: #f8f8f8;
}

#planos .sessao-conteudo .tab-precos table tbody tr td {
	text-align: center;
	padding: 2rem .5rem;
}

#planos .sessao-conteudo .tab-precos table tbody tr td:not(:first-of-type) {
	color: #999;
}

#planos .sessao-conteudo #calendario {
	padding-left: 1rem;
}

#planos .sessao-conteudo #calendario h2 {
	color: var(--cor-primaria);
}

#planos .sessao-conteudo #calendario>div {
	padding: 1rem;
	border: .1rem solid #ddd;
	border-radius: .5rem;
	margin-top: 1rem;
}

#planos .sessao-conteudo #calendario div #info-mes {
	margin: .5rem;
	text-align: right;
}

#planos .sessao-conteudo #calendario div #grade-dias {
	width: 100% !important;
	display: flex;
	flex-wrap: wrap;
	font-size: .8rem;
	margin-bottom: 1rem;
}

#planos .sessao-conteudo #calendario div #grade-dias div {
	width: calc(100% / 7 - 1rem) !important;
	justify-content: center;
	aspect-ratio: 1 / 1;
	padding: .5rem;
	margin: .5rem;
	border-radius: 50%;
	display: flex;
    align-items: center;
}

#planos .sessao-conteudo #calendario div #grade-dias .titulo-calendario {
	color: var(--cor-primaria);
}

#planos .sessao-conteudo #calendario div #grade-dias .dia-valido {
	background-color: #ddd;
	cursor: pointer;
}

#planos .sessao-conteudo #calendario div #grade-dias .dia-block {
	color: #bbb;
	cursor: not-allowed;
}

#planos .sessao-conteudo #calendario div #grade-dias .dia-valido:hover {
	background-color: var(--cor-primaria-3);
}

#planos .sessao-conteudo #calendario div .form-calendario {
	flex-direction: column;
	display: flex;
}

#planos .sessao-conteudo #calendario div .form-calendario input {
	margin-bottom: 1rem;
	padding: .5rem;
	width: 60%;
	border: 0;
	border-bottom: .1rem solid #ddd;
	outline: none;
}

#planos .sessao-conteudo #calendario div .form-calendario .btn {
	width: 30%;
}

/* Fading animation */
.fade {
	animation-name: fade;
	animation-duration: 1.5s;
}
  
@keyframes fade {
	from {opacity: .4} 
	to {opacity: 1}
}